<div class="row">
  <div id="viz" class= "span7 well">
    <%=  bubblemap(map) %>
    <br>
    <dl class="unstyled">
      <dt>Bubble size shows popularity.</dt>
      <dd>It gets bigger as more articles are posted on a topic.</dd>
      <dt>The Y Axis also shows popularity.</dt>
      <dd>Sometimes it's nice to keep things simple.</dd>
      <dt>The X Axis shows trends.</dt>
      <dd>Bubbles move to the right if they are trending up, and move to the left if they are trending down.</dd>
      <dt>Bubble location is approximate.</dt>
      <dd>Bubbles shift around a bit randomly to avoid overlapping.</dd>
    </ul>
  </div>
  <div class="span4" id="posts">
    <%=  render 'posts/list' %>
  </div>
</div>
