<div class="row">
  <div id="viz" class= "span7">
    <%=  bubblemap(map) %>
    <br>
    <ul class="unstyled">
      <li><strong>Bubble size shows popularity.</strong> It gets bigger as more articles are posted on a topic.</li>
      <li><strong>The Y Axis shows centrality.</strong> Bubbles go up as they are cross-posted with a wider range of topics.</li>
      <li><strong>The X Axis shows trends.</strong> Bubbles move to the right if they are trending up, and move to the left if they are trending down.</li>
    </ul>
  </div>
  <div class="span4" id="posts">
    <%=  render 'posts/list' %>
  </div>
</div>
