<div class="row">
  <div class="span11">
    <div class="well">
      <h2><%=@map.display_name%></h2>
      <p class="lead">
        <%=@map.description %>
      </p>
    </div>
  </div>
</div>
<%=  render 'maps/map', :map => @map %>