<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="span12">
    <div class="well">
    <h2>Explorable, Zoomable Maps of Public Discourse</h2>
    <p class="lead">
       Bubblemaps help you see quickly see what people are talking about. We make it easy to track discussions across the web and zoom in on the news that you care about.
    </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="thumbnail">
      <div class="row">
        <div class="span9 offset1">
        <h3>New York Times Front Page</h3>
        <p>
         Welcome to BubbleMaps! To get you started, here is a map of topics covered on the homepage of the New York Times.
         </p>
          </div>
        </div>
       <%=  render 'maps/map', :map => Map.find_by_name('NYT') %>
      </div>

    </div>
  </div>
</div>