
  <div class ="navbar ">
    <div class="navbar-innner">
      <a class="brand" href="/">
        <%=  image_tag 'bubblemaps.png', :width => 20, :height => 20 %>
        BubblMaps</a>
      <ul class="nav">
        <li id="home"><a href="/" >Home</a></li>
        <li id="NYT"><a href="/maps/NYT" >New York Times</a></li>
        <li id="twitter-whedon"><a href="/maps/twitter-whedon" >Twitter</a></li>
        <li id="pubmed-mrna"><a href="/maps/pubmed-mrna" >Biology</a></li>
      </ul>
    </div>
  </div>

<%=  javascript_tag do %>
       var headerSelect = 'li#<%= @select %>';
  <% end  %>