
  <div class ="navbar ">
    <div class="navbar-innner">
      <a class="brand" href="/">BubbleMaps</a>
      <ul class="nav">
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/maps/8" id="NYT">New York Times</a></li>
        <li><a href="/maps/5" id="twitter-whedon">Twitter</a></li>
        <li><a href="/maps/3" id="stackoverflow">Programming</a></li>
        <li><a href="#" id="pubmed">Biology</a></li>
      </ul>
    </div>
  </div>

  <script>
      $("li").find("#<%= @select %>").addClass('active');
  </script>