
  <div class ="navbar ">
    <div class="navbar-innner">
      <a class="brand" href="/">BubbleMaps</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/maps/4">New York Times</a></li>
        <li><a href="/maps/5">Twitter</a></li>
        <li><a href="/maps/3">Programming</a></li>
        <li><a href="#">Biology</a></li>
      </ul>
    </div>
  </div>